In [1]:
import pandas as pd
import numpy as np

In [85]:
cd C:/Users/nobuh/Google Drive/M1/Research/Experiments/2020/0611/New

C:\Users\nobuh\Google Drive\M1\Research\Experiments\2020\0611\New

In [86]:
dataset = pd.read_csv('test10 new.csv')

In [87]:
dataset

,tag1,tag2,tag3,tag4,tag24,tag25,tag26,tag27,tag1ps,tag2ps,tag3ps,tag4ps
0,2654.2,2372.1,2015.70,1858.1,624.4,1012.7,1578.3,956.5,6.0,5.0,7.0,6.0
1,2725.9,2311.2,1939.40,1857.7,703.5,1039.9,0.0,875.9,6.0,5.0,7.0,6.0
2,0.0,0.0,0.00,0.0,0.0,0.0,1568.9,0.0,0.0,0.0,0.0,0.0
3,2664.0,2316.4,2029.70,1816.5,691.1,0.0,1528.0,930.5,6.0,5.0,7.0,6.0
4,0.0,0.0,0.00,0.0,0.0,1040.5,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
199,2327.2,1546.0,1522.20,0.0,637.0,718.0,547.5,551.0,6.0,5.0,6.0,0.0
200,2515.5,1615.9,1685.65,0.0,729.9,816.3,718.8,0.0,6.0,5.0,6.0,0.0
201,2863.2,2452.8,1773.90,0.0,663.3,872.1,1103.4,0.0,6.0,5.0,5.0,0.0
202,2760.4,2583.7,2403.20,0.0,778.2,974.7,1177.8,0.0,6.0,5.0,6.0,0.0
203,2705.5,2577.4,2514.20,0.0,828.8,1082.2,1361.6,0.0,6.0,5.0,6.0,0.0

In [88]:
x = dataset.iloc[:, :].values

In [89]:
x

array([[2654.2, 2372.1, 2015.7, ...,    5. ,    7. ,    6. ],
       [2725.9, 2311.2, 1939.4, ...,    5. ,    7. ,    6. ],
       [   0. ,    0. ,    0. , ...,    0. ,    0. ,    0. ],
       ...,
       [2863.2, 2452.8, 1773.9, ...,    5. ,    5. ,    0. ],
       [2760.4, 2583.7, 2403.2, ...,    5. ,    6. ,    0. ],
       [2705.5, 2577.4, 2514.2, ...,    5. ,    6. ,    0. ]])

In [92]:
for i in range(len(dataset)):
    if x[i][0] == 0 and x[i][1] == 0 and x[i][2] == 0 and x[i][3] == 0 and x[i][4] == 0 and x[i][5] == 0 and x[i][6] == 0 and x[i][7] == 0:
        print(i)
        print('Zero')
        x = np.delete(x, (i), axis=0)
    if x[i][0] != 0:
        if x[i][1] == 0 and x[i][2] == 0 and x[i][3] == 0 and x[i][4] == 0 and x[i][5] == 0 and x[i][6] == 0 and x[i][7] == 0:
            print(x[i-1][0])
            x[i-1][0] = x[i][0]
            x[i-1][8] = x[i][8]
            print(x[i-1][0])
            print(i)
            x = np.delete(x, (i), axis=0)
    if x[i][1] != 0:
        if x[i][0] == 0 and x[i][2] == 0 and x[i][3] == 0 and x[i][4] == 0 and x[i][5] == 0 and x[i][6] == 0 and x[i][7] == 0:
            print(x[i-1][1])
            x[i-1][1] = x[i][1]
            x[i-1][9] = x[i][9]
            print(x[i-1][1])
            print(i)
            x = np.delete(x, (i), axis=0)
    if x[i][2] != 0:
        if x[i][0] == 0 and x[i][1] == 0 and x[i][3] == 0 and x[i][4] == 0 and x[i][5] == 0 and x[i][6] == 0 and x[i][7] == 0:
            print(x[i-1][2])
            x[i-1][2] = x[i][2]
            x[i-1][10] = x[i][10]
            print(x[i-1][2])
            print(i)
            x = np.delete(x, (i), axis=0)
    if x[i][3] != 0:
        if x[i][0] == 0 and x[i][1] == 0 and x[i][2] == 0 and x[i][4] == 0 and x[i][5] == 0 and x[i][6] == 0 and x[i][7] == 0:
            print(x[i-1][3])
            x[i-1][3] = x[i][3]
            x[i-1][11] = x[i][11]
            print(x[i-1][3])
            print(i)
            x = np.delete(x, (i), axis=0)
    if x[i][4] != 0:
        if x[i][0] == 0 and x[i][1] == 0 and x[i][2] == 0 and x[i][3] == 0 and x[i][5] == 0 and x[i][6] == 0 and x[i][7] == 0:
            print(x[i-1][4])
            x[i-1][4] = x[i][4]
            print(x[i-1][4])
            print(i)
            x = np.delete(x, (i), axis=0)
    if x[i][5] != 0:
        if x[i][0] == 0 and x[i][1] == 0 and x[i][2] == 0 and x[i][3] == 0 and x[i][4] == 0 and x[i][6] == 0 and x[i][7] == 0:
            print(x[i-1][5])
            x[i-1][5] = x[i][5]
            print(x[i-1][5])
            print(i)
            x = np.delete(x, (i), axis=0)
    if x[i][6] != 0:
        if x[i][0] == 0 and x[i][1] == 0 and x[i][2] == 0 and x[i][3] == 0 and x[i][4] == 0 and x[i][5] == 0 and x[i][7] == 0:
            print(x[i-1][6])
            x[i-1][6] = x[i][6]
            print(x[i-1][6])
            print(i)
            x = np.delete(x, (i), axis=0)
    if x[i][7] != 0:
        if x[i][0] == 0 and x[i][1] == 0 and x[i][2] == 0 and x[i][3] == 0 and x[i][4] == 0 and x[i][5] == 0 and x[i][6] == 0:
            print(x[i-1][7])
            x[i-1][7] = x[i][7]
            print(x[i-1][7])
            print(i)
            x = np.delete(x, (i), axis=0)

IndexError: index 197 is out of bounds for axis 0 with size 197

In [93]:
x

array([[2654.2, 2372.1, 2015.7, ...,    5. ,    7. ,    6. ],
       [2725.9, 2311.2, 1939.4, ...,    5. ,    7. ,    6. ],
       [2664. , 2316.4, 2029.7, ...,    5. ,    7. ,    6. ],
       ...,
       [2863.2, 2452.8, 1773.9, ...,    5. ,    5. ,    0. ],
       [2760.4, 2583.7, 2403.2, ...,    5. ,    6. ,    0. ],
       [2705.5, 2577.4, 2514.2, ...,    5. ,    6. ,    0. ]])

In [94]:
x_dframe = pd.DataFrame(x, columns=['tag1', 'tag2', 'tag3', 'tag4', 'tag24', 'tag25', 'tag26', 'tag27', 'tag1ps', 'tag2ps', 'tag3ps', 'tag4ps'])

In [95]:
x_dframe

,tag1,tag2,tag3,tag4,tag24,tag25,tag26,tag27,tag1ps,tag2ps,tag3ps,tag4ps
0,2654.2,2372.1,2015.70,1858.1,624.4,1012.7,1578.3,956.5,6.0,5.0,7.0,6.0
1,2725.9,2311.2,1939.40,1857.7,703.5,1039.9,1568.9,875.9,6.0,5.0,7.0,6.0
2,2664.0,2316.4,2029.70,1816.5,691.1,1040.5,1528.0,930.5,6.0,5.0,7.0,6.0
3,2653.1,2304.3,1980.40,1861.0,682.0,0.0,1558.2,0.0,6.0,5.0,7.0,6.0
4,2684.4,2296.5,1945.80,1853.5,651.4,998.9,1582.0,917.9,6.0,5.0,7.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
192,2327.2,1546.0,1522.20,0.0,637.0,718.0,547.5,551.0,6.0,5.0,6.0,0.0
193,2515.5,1615.9,1685.65,0.0,729.9,816.3,718.8,0.0,6.0,5.0,6.0,0.0
194,2863.2,2452.8,1773.90,0.0,663.3,872.1,1103.4,0.0,6.0,5.0,5.0,0.0
195,2760.4,2583.7,2403.20,0.0,778.2,974.7,1177.8,0.0,6.0,5.0,6.0,0.0
196,2705.5,2577.4,2514.20,0.0,828.8,1082.2,1361.6,0.0,6.0,5.0,6.0,0.0

In [96]:
cd C:/Users/nobuh/Google Drive/M1/Research/Experiments/2020/0611/New/Cleaned

C:\Users\nobuh\Google Drive\M1\Research\Experiments\2020\0611\New\Cleaned

In [97]:
x_dframe.to_csv('test10 cleaned.csv', encoding='utf-8', index=False)